<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
    />
    <script
      src="https://kit.fontawesome.com/692bd46f11.js"
      crossorigin="anonymous"
    ></script>
    <title>Saksonia Project</title>
  </head>
  <body>
    <div class="burger__container">
      <span class="burger__spanEle1"></span>
      <span class="burger__spanEle2"></span>
      <span class="burger__spanEle3"></span>
    </div>
    <nav class="nav">
      <ul class="nav__ul">
        <li class="nav__list">Zaplanuj wycieczkę</li>
        <li class="nav__list">Atrakcje regionu</li>
      </ul>
    </nav>
    <section class="trip">
      <h2 class="trip__title">Zaplanuj wycieczkę</h2>
      <nav class="trip__naviagtion">
        <ul class="trip__ul">
          <li class="trip__list all">
            <h4 class="trip__listText">Wszystkie</h4>
          </li>
          <li class="trip__list family">
            <h4 class="trip__listText">Z rodziną</h4>
          </li>
          <li class="trip__list city">
            <h4 class="trip__listText">Miasta</h4>
          </li>
          <li class="trip__list active">
            <h4 class="trip__listText">Aktywne</h4>
          </li>
          <li class="trip__list unesco">
            <h4 class="trip__listText">Unesco</h4>
          </li>
        </ul>
      </nav>
      <div class="trip__map">
        <img src="./public/IMG/background.jpg" alt="map" class="trip__mapImg" />
      </div>
    </section>
    <section class="region">
      <h2 class="region__title">Atrakcje Regionu</h2>
      <div class="my-slider"></div>
    </section>
  </body>
</html>
