.trip {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  &__title {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 15px 0;
  }

  &__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__list {
    width: 100px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.all {
  border: 1px solid #dcdcdc;
}

.family {
  border: 1px solid #009e5f;
}

.city {
  border: 1px solid #35a2e7;
}

.active {
  border: 1px solid #d1831d;
}

.unesco {
  border: 1px solid #7bb6ba;
  background-color: #7bb6ba;
}

.trip__map {
  display: none;
  @include mq(large) {
    display: block;
    width: 1024px;
    margin: 20px auto;
  }
}
