.trip {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  &__title {
    @include sectionTitle;
  }

  &__ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 45px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.15s linear;

    @include mq(medium) {
      width: 130px;
      font-size: 1.4rem;
    }
  }

  &__listText {
    pointer-events: none;
  }
}

.all {
  border: 2px solid #dcdcdc;
  background-color: #dcdcdc;
}

.family {
  border: 2px solid #009e5f;
}

.city {
  border: 2px solid #35a2e7;
}

.active {
  border: 2px solid #d1831d;
}

.unesco {
  border: 2px solid #7bb6ba;
  background-color: #7bb6ba;
}

.trip__map {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.trip__mapImg {
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}
